<!DOCTYPE html>
<html lang='en'>

<head>
	<title>Perch Challenge</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Alex Shukhman">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="../stylesheets/custom.css">
	<!-- socket.io -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<!-- For the Lato -->
	<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>